*.log
.env

terraform.tf*
terraform/.terraform-version
terraform/.terraform.lock.hcl

.terraform

#csv
*.csv
*.csv.*

#system
airflow/dags/__pycache__
.DS*

airflow/logs/
airflow/plugins/

ny_taxi_postgres_data
# macos
.DS_Store
.AppleDouble
.LSOverride

# pgadmin
data_pgadmin

